img {
  width: 80px;
  height: 100%;
}

.image {
  width: 92px;
}

.title {
  font-weight: bold;
  margin-left: 6px;
  text-align: left;
}

.date {
  text-align: right;
  margin-left: 6px;
  width: 160px;
}

.preamble {
  text-align: left;
  margin-left: 6px;
  font-size: 0.8rem;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 2px 12px 2px 12px;
  width: 100%; 
  justify-content: space-between;
}

.article {
  display: flex;
  height: 93px;
  margin: 5px 10px 10px 0px;
}
.titular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .article {
    display: flex;
  }
  .title{
    font-size: 18px;
  }
  .date {
    text-align: left;
    margin-left: 6px;
    font-size: 0.9rem;
  }
  .preamble{
      display: none;
  }
  .titular{
    display: flex;
    flex-direction: column;
  }
  .description{
    display: flex;
    flex-direction: row;
    padding: 2px 12px 2px 12px;
    width: 100%;
  }
}
