.main{
    display: flex;
    flex-direction: row;
}

.select{
    position: absolute;
    right: 3%;
    top: 3%;
}
.categories{
    text-align: left;
    margin-top: 55px;
    margin-left: 47px;
}

.articles{
    margin-top: 55px;
}


@media only screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }
    .categories{
        text-align: left;
        margin-top: 20px;
        margin-left: 9px;
    }
    .articles{
        margin-top: 16px;
    }
  }